__pycache__/
*.pyc
.ipynb_checkpoints/

logs/
runs/
checkpoints/
checkpoint/
output/
outputs/
save/
saved/
result/
results/

*.pt
*.pth
*.ckpt
*.bin
*.pkl
*.npy
*.npz

data/
datasets/
embeddings/

.DS_Store
.vscode/
.idea/
